* {
    box-sizing: border-box;
    margin: 0;
}

#sfondo-azzurro {
    width: 100%;
    height: 170px;
    background-color: #4DA0FE;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
}

#logo {
    height: 75px;
    position: absolute;
    margin-left: 15px;
    margin-top: 80px;
}

thead {
    background-color: #20A9E5;
    color: white;
}

.azzurro {
    background-color: #B1E5F2;
}

.imma-footer{
    width: 270px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
}

#imma-footer1{
 background-image: url(../img/monitor.jpg);
}

#imma-footer2{
    background-image: url(../img/graph.jpg);
   }

#scrittoda, #titolofondo{
    color: #7E7E7E;
}